/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/

/*#body {*/
/*font-family: "Futura";*/
/*}*/

/*#title {*/
/*width: 100vw;*/
/*height: 30vh;*/
/*background: url("./src/sky.jpg") center;*/
/*background-size: cover;*/
/*text-align: center;*/
/*line-height: 30vh;*/
/*font-size: 100px;*/
/*}*/

nav {
  padding-left: 100px;
  padding-right: 100px;
  height: 2vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/*.container {*/
/*background-image: url("./src/sky.jpg");*/
/*}*/


#column-one {
  /*background: url("images/filter.png") center;*/
  /*background-size: cover;*/
  /*background-color: darksalmon;*/
  border-right: rgba(128, 128, 128, 0.22) 1px solid;
  padding-left: 40px;
  padding-top: 100px;
  padding-right: 20px;
}

#column-two {
  background-color: darkseagreen;
  /*background: url("images/result.png") center;*/
  /*background-size: 34vw;*/

}

#column-three {
  /*background: url("images/map.png") center;*/
  /*background-size: cover;*/
  padding-left: 0;
}

#columns {
  height: 98vh;
  position: relative;
    overflow: hidden;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.icons {
  padding-left: 20px;
}

.navbar-item {
  font-size: 15px;
}

#map {
  width: 950px;
  height: 1100px;
}

:focus {
  outline: none !important;
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.submission-form {
  width: 500px;
}

.card {
  width: 300px;
  margin-left: 300px;
}

#first-filter {
  width: 100%;
}

#search {
  border-bottom: #e7e7e7 solid 1px;
  padding-bottom: 9px;
  color: #000;
}

.input {
  margin-right: 20px;
}

#zipcode {
  margin-right: 30px;
}

#search-text {
  margin-top: 30px;
  margin-bottom: 7px;
  margin-left: 10px;
  color: #000;
}

#first-search-text {
  margin-top: 20px;
  margin-bottom: 7px;
  margin-left: 10px;
  color: #000;
}

#map-info {
  border-top: #e7e7e7 solid 1px;
  color: #000;
  margin-top: 40px;
  padding-top: 12px;
}

#map-info-text {
  margin-top: 5px;
}