/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/

/*#body {*/
/*font-family: "Futura";*/
/*}*/

/*#title {*/
/*width: 100vw;*/
/*height: 30vh;*/
/*background: url("./src/sky.jpg") center;*/
/*background-size: cover;*/
/*text-align: center;*/
/*line-height: 30vh;*/
/*font-size: 100px;*/
/*}*/

nav {
  padding-left: 70px;
  padding-right: 70px;
  height: 2vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/*.container {*/
/*background-image: url("./src/sky.jpg");*/
/*}*/

.contactus {
  color: #35CC62;
}

#column-one {
  /*background-image: ;*/
}

#column-two {
  background: url("images/result.png") center;
  background-size: cover;

}

#column-three {
  background: url("images/map.png") center;
  background-size: cover;
}

#columns {
  height: 98vh;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.icons {
  padding-left: 20px;
}